@page "/result/{year}/{round}"

<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-4">
    <MudPaper Class="rounded-lg pa-2 d-flex justify-space-around" Height="85vh" Elevation="6">
        <h1>Result - Round @Round - Season @Year</h1>    
    </MudPaper>
</MudContainer>
